.wrapper-my-post
	.top 
		ul.list 
			li.item
				a.active(href="#") Shipping
	.content-post
		include ../Post/box-style-1.pug
		include ../Post/box-style-2.pug
		include ../Post/box-style-2-1.pug
		include ../Post/box-style-3.pug
		include ../Post/box-style-3-1.pug
		include ../Post/box-style-4.pug
		include ../Post/box-style-4-1.pug
		include ../Post/box-style-4-2.pug
		include ../Post/box-style-5.pug
		include ../Post/box-style-5-1.pug
		include ../Post/box-style-6.pug