@import "./reset.scss";
@import "./normalize.scss";
@import "./variable.scss";
.container{
    width: 100%;
    max-width: 1440px;
}
main{
    display: flex;
    justify-content: space-between;
    .left-sidebar,.right-filter{
        width: 320px;
    }
    .main-content{
        width: calc(100% - 320px - 320px);
        background: #F9FAFF;
    }
}