*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #f9faff;
}
ol,
ul {
  list-style: none;
  margin-bottom: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
label,p,ul,li{
  margin: 0;
}
@font-face {
  font-family: Regular;
  src: url("../../fonts/SVNGilroyRegular.otf") format("opentype");
}
@font-face {
  font-family: Regular;
  src: url("../../fonts/SVNGilroyBold.otf") format("opentype");
  font-weight: bold;
}

body {
  font-family: Regular, sans-serif !important;
}
button{
  &:focus{
    outline: none !important;
  }
}
