.carousel-tag{
    background: #BFF3E8;
    backdrop-filter: blur(4px);
    height: 64px;
    display: flex;
    align-items: center;
    padding: 0 72px;
    margin-bottom: 18px;
    @include mobile{
        height: 45px;
        padding: 0 50px;
    }
    .list {
        background: #FFFFFF;
        border: 1px solid #C8CCD9;
        box-sizing: border-box;
        border-radius: 23px;
        padding: 8px 18px;
        font-weight: normal;
        font-size: 12px;
        line-height: 13px;
        margin-right: 8px;
        @include mobile{
            font-size: 10px;
            line-height: 10px;
            margin-bottom: 12px;
        }
    }
    .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        height: 100%;
        width: 72px;
        border: none;
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
        @include mobile{
            width: 50px;
        }
    }
    .slick-prev{
        left: 0;
    }
    .slick-next{
        right: 0;
        &::before{
            content: '';
            background: linear-gradient(90deg, #BFF3E8 66.66%, #000000 101.39%);
            transform: rotate(-180deg);
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            display: block;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
        img{
            z-index: 2;
        }
    }
}