.wrapper-save-location 
	include ../../layouts/heading-profile.pug
	.coupon-management
		ul
			li
				.packet-box
					.box-img 
						img(src="./images/packet-sale.png", alt="")
					p.packet-name CUBA
					.box-txt_desc 
							.box-desc_left 
								img.local-airport_icon(src="./images/baseline-local_airport.png", alt="")
								span.local-airport_txt Flight + 4 nights
							.box-desc_right
								span $ 350
				.packet_discount
					span Up to
					span.value 50%
					span off
			li
				.packet-box
					.box-img 
						img(src="./images/packet-sale.png", alt="")
					p.packet-name CUBA
					.box-txt_desc 
							.box-desc_left 
								img.local-airport_icon(src="./images/baseline-local_airport.png", alt="")
								span.local-airport_txt Flight + 4 nights
							.box-desc_right
								span $ 350
				.packet_discount
					span Up to
					span.value 50%
					span off
			li
				.packet-box
					.box-img 
						img(src="./images/packet-sale.png", alt="")
					p.packet-name CUBA
					.box-txt_desc 
							.box-desc_left 
								img.local-airport_icon(src="./images/baseline-local_airport.png", alt="")
								span.local-airport_txt Flight + 4 nights
							.box-desc_right
								span $ 350
				.packet_discount
					span Up to
					span.value 50%
					span off