.wrapper-my-post {
  position: relative;

  .top {
    top: 50px;
    padding-top: 20px;
    margin-bottom: 26px;
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 100;
    .list {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      border-bottom: 0.6px solid #c8ccd9;
      margin-bottom: 40px;
      .item {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 21px;
          color: #969eb4;
          padding: 0 34px;
          padding-bottom: 22px;
          border-bottom: 2px solid transparent;
          &:hover {
            color: #1ecbc1;
            border-bottom: 2px solid #1ecbc1;
          }
        }
        .active {
          color: #1ecbc1 !important;
          border-bottom: 2px solid #1ecbc1 !important;
        }
      }
    }
  }
  .content-post {
    margin: 0px auto;
    min-height: 100vh;
    width: 544px;
    overflow: auto;
    margin-top: 102px;
  }
  .content-list {
    margin-top: 100px;
  }
}
