.wrapper-my-post {
  .top {
    margin-top: 40px;
    .list {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      border-bottom: 0.6px solid #c8ccd9;
      .item {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 21px;
          color: #969eb4;
          padding: 0 34px;
          padding-bottom: 22px;
          border-bottom: 2px solid transparent;
          &:hover {
            color: #1ecbc1;
            border-bottom: 2px solid #1ecbc1;
          }
        }
        .active {
          color: #1ecbc1 !important;
          border-bottom: 2px solid #1ecbc1 !important;
        }
      }
    }
  }
}
