body {
  @include clearfix;
}

header {
  background: #ffffff;
  box-shadow: 8px 1px 6px rgba(200, 204, 217, 0.4);
  height: 54px;
  z-index: 111;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  .container-fluid {
    padding: 11px 32px 11px 16px;
    @include mobile{
      padding: 11px 16px;
    }
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .col-left,
    .col-right {
      width: 320px;
    }
    .col-left {
      display: flex;
      align-items: center;
      .logo {
        transition: all 0.5s;
        img {
          width: 100%;
          max-width: 88px;
          margin-right: 18px;
          @include mobile{
            margin: 0;
          }
        }
      }
      .box-search {
        position: relative;
        @include mobile{
          display: none;
        }
        input {
          background: #eff8fe;
          border: 1px solid #eff8fe;
          box-sizing: border-box;
          border-radius: 16px;
          height: 32px;
          width: 100%;
          max-width: 198px;
          padding: 16px;
          letter-spacing: -0.01em;
          font-size: 16px;
          line-height: 20px;
          color: #000;
          &::placeholder {
            color: #c8ccd9;
          }
        }
        img {
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
          z-index: 11;
          cursor: pointer;
        }
      }
      .icon-nav{
        display: none;
        @include mobile{
          display: block;
          margin-right: 18px;
          &.active{
            img{
              display: none;
            }
            .close{
              display: block;
            }
          }
          .close{
            display: none;
          }
        }
      }
    }
    .col-center {
      width: calc(100% - 320px - 320px);
      .header__menu {
        display: flex;
        align-items: center;
        justify-content: center;
        @include mobile{
          position: fixed;
          bottom: 0;
          left: 0;
          background: #fff;
          width: 100%;
          padding: 8px 0;
          box-shadow: 1px -8px 22px rgba(189, 189, 189, 0.26);
        }
        li {
          margin: 0 32px;
          display: block;
          position: relative;
          a {
            position: relative;
            width: 32px;
            height: 32px;
            display: block;
          }
          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &.active {
              opacity: 0;
              transition: all 0.5s;
            }
          }
          &.active,
          a:hover {
            img {
              opacity: 0;
              transition: all 0.5s;
              &.active {
                opacity: 1 !important;
                transition: all 0.5s;
              }
            }
          }
        }
      }
    }
    .col-right {
      transition: all 0.5s;
      .header__option {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        li {
          @include mobile{
            margin: 0 19px 0 0;
          }
          .create-post {
            background: #1ecbc1;
            border-radius: 16px;
            font-weight: 500;
            font-size: 14px;
            line-height: 15px;
            padding: 7px 17px;
            color: #fff;
            display: flex;
            justify-content: center;
            span {
              margin-left: 6px;
            }
          }
          margin: 0 24px;
          &:last-child {
            margin-right: 0;
          }
          .box-language {
            display: flex;
            align-items: center;
            font-size: 16px;
            line-height: 17px;
            font-weight: 600;
            color: #676262;
            img {
              margin-right: 10px;
            }
          }

          &.icon-nav-category{
            img.active{
              display: none;
            }
            &:hover{
              img{
                display: none;
                &.active{
                  display: block;
                }
              }
            }
          }
        }
      }
    }
    .btn-create-post{
      transform: translateX(300%);
      transition: all 0.5s;
      width: 0;
      overflow: hidden;
      &.active{
        transform: unset;
        width: 100%;
        display: inline-flex;
        justify-content: end;
      }
      button{
        background: #1ECBC1;
        border-radius: 16px;
        width: 85px;
        height: 32px;
        padding: 17px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 15px;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        span{
          margin-left: 6px;
        }
      }
    }
    .top300{
      transform: translateY(-300%);
      opacity: 0;
      width: 0;
    }
  }
}
