.left-sidebar{
    padding: 16px;
    background-color: #f9faff;
    li{
        height: 64px;
        border-radius: 32px;
        padding: 13px 0 13px 15px;
        a{
            display: flex;
            align-items: center;
            font-size: 18px;
            line-height: 19px;
            color: #676262;
            img{
                margin-right: 18px;
            }
        }
        &.active{
            a{
                font-weight: 600;
            }
        }
    }
    .language-mb {
        position: absolute;
        bottom: 10%;
        font-weight: 800;
        left: 50%;
        transform: translateX(-50%);
        border: 1px solid #C8CCD9;
        width: 161px;
        height: 42px;
        border-radius: 12px;
        padding: 0 15px;
        display: none;

        @include mobile{
            display: flex;
        }
        select.language-select {
            width: 100%;
            background-image: url(../images/icon-language.png);
            background-repeat: no-repeat;
            background-position: left;
            background-size: 20px;
            padding-left: 25px;
            font-weight: 800;
            font-size: 16px;
            line-height: 17px;
            color: #676262;
        }
    }
}