.right-filter{
    padding: 16px;
    background-color: #f9faff;
    .title-filter{
        font-weight: 600;
        font-size: 18px;
        line-height: 19px;
        color: #000000;
        margin-bottom: 33px;
    }
    p.title{
        font-weight: 600;
        font-size: 16px;
        line-height: 17px;
        color: #000000;
        margin-bottom: 24px;
    }
    .filter-price{
        margin-bottom: 35px;
        border-bottom: 1px solid rgba(200, 204, 217, 0.32);
        padding-bottom: 50px;
        p.title{
            margin-bottom: 42px;
        }
        .progres-sprice{
            position: relative;
            background: rgba(200, 204, 217, 0.32);
            height: 2px;
            width: 100%;
            .progres-sprice_width{
                position: relative;
                background: linear-gradient(0deg, #009EFD 0%, #2AF598 100%);
                width: calc(65% + 7px); // (left of progres-sprice_after - left of progres-sprice_before) + 7px
                height: 2px;
                left: calc(10% + 7px); // left of progres-sprice_after
            }
            .progres-sprice_before{
                position: absolute;
                top: 0;
                height: 50px;
                left: 10%;
            }
            .progres-sprice_after{
                position: absolute;
                top: 0;
                height: 50px;
                left: 75%;
            }
            .dot{
                background: linear-gradient(0deg, #009EFD 0%, #2AF598 100%);
                width: 14px;
                height: 14px;
                border-radius: 50%;
                margin: 0 auto;
                position: relative;
                top: -7px;
            }
        }
        .jq-star {
            margin-right: 4px;
        }
    }
    .filter-review{
        .my-rating-filter {
            padding-bottom: 12px;
            border-bottom: 1px solid rgba(200, 204, 217, 0.32);
            margin-bottom: 32px;
        }
    }
    .filter-checkbox{
        .list-checkbox{
            li{
                margin-bottom: 12px;
                height: 18px;
                font-weight: 500;
                font-size: 15px;
                line-height: 16px;
                color: #676262;
                display: flex;
                align-items: center;
                input{
                    margin-right: 14px;
                }
            }
        }
        .show-more{
            padding: 6px 0;
            font-weight: 500;
            font-size: 12px;
            line-height: 13px;
            display: flex;
            align-items: center;
            color: #2A2C34;
            cursor: pointer;
            img{
                margin-left: 9px;
            }
        }
    }
    
    a {
      color: $primary;
      font-size: 16px;
    }
    .icon-mess {
      position: absolute;
      bottom: 80px;
      right: 47px;
      z-index: 10;
      cursor: pointer;
      @include mobile{
        display: none;
      }
    }
}

.slider-labels {
    margin-top: 10px;
  }
  
  .noUi-target,.noUi-target * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .noUi-target {
    position: relative;
    direction: ltr;
  }
  
  .noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  /* Fix 401 */
  }
  
  .noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
  }
  
  .noUi-handle {
    position: relative;
    z-index: 1;
  }
  
  .noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
     its values is > 50%. */
    z-index: 10;
  }
  
  .noUi-state-tap .noUi-origin {
    -webkit-transition: left 0.3s,top .3s;
    transition: left 0.3s,top .3s;
  }
  
  .noUi-state-drag * {
    cursor: inherit !important;
  }
  
  /* Painting and performance;
   * Browsers can paint handles in their own layer.
   */
  .noUi-base,.noUi-handle {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  /* Slider size and handle placement;
   */
  .noUi-horizontal {
    height: 4px;
  }
  
  .noUi-horizontal .noUi-handle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    left: -7px;
    top: -7px;
    background-color: #345DBB;
  }
  
  /* Styling;
   */
  .noUi-background {
    background: #D6D7D9;
  }
  
  .noUi-connect {
    background: #345DBB;
    -webkit-transition: background 450ms;
    transition: background 450ms;
  }
  
  .noUi-origin {
    border-radius: 2px;
  }
  
  .noUi-target {
    border-radius: 2px;
  }
  
  .noUi-target.noUi-connect {
  }
  
  /* Handles and cursors;
   */
  .noUi-draggable {
    cursor: w-resize;
  }
  
  .noUi-vertical .noUi-draggable {
    cursor: n-resize;
  }
  
  .noUi-handle {
    cursor: default;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
  }
  
  .noUi-handle:active {
    border: 8px solid #345DBB;
    border: 8px solid rgba(53,93,187,0.38);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    left: -14px;
    top: -14px;
  }
  
  /* Disabled state;
   */
  [disabled].noUi-connect,[disabled] .noUi-connect {
    background: #B8B8B8;
  }
  
  [disabled].noUi-origin,[disabled] .noUi-handle {
    cursor: not-allowed;
  }

span#slider-range-value1, span#slider-range-value2{
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
}
.slider-labels{
  display: none;
}