.post-image.post-layout-5-1(data-dismiss='modal', data-toggle='modal', data-target='#modalViewPost')
	.row 
		.col-12
			.row 
				.box-img
					img(src="./images/Rectangle 1680.png", alt="")
				.box-img
					img(src="./images/Rectangle 1680.png", alt="")
		.col-12
			.row 
				.box-img
					img(src="./images/Rectangle 1685.png", alt="")
				.box-img
					img(src="./images/Rectangle 1685.png", alt="")
				.box-img
					img(src="./images/Rectangle 1685.png", alt="")