.post-image.post-layout-4-2
	.row 
		.col-12
			.row 
				.col-12 
					.box-img
						img(src="./images/post-img-2-2.png", alt="")
		.col-12
			.row 
				.box-img
					img(src="./images/post-img-2-2.png", alt="")
				.box-img
					img(src="./images/post-img-2-2.png", alt="")
				.box-img
					img(src="./images/post-img-2-2.png", alt="")