.post-image.post-layout-3_1
	.row 
		.box-img
			img(src="./images/post-img.png", alt="")
		.col-12
			.row 
				.box-img
					img(src="./images/Rectangle 1681.png", alt="")
				.box-img
					img(src="./images/Rectangle 1683.png", alt="")