.post-image.post-layout-3
	.row 
		.col-12
			.box-img
				img(src="./images/post-img-2-1.png", alt="")
		.col-12
			.row 
				.box-img
					img(src="./images/post-img-2-2.png", alt="")
				.box-img
					img(src="./images/post-img-2-3.png", alt="")