.post-image.post-layout-2-1(data-dismiss='modal', data-toggle='modal', data-target='#modalViewPost')
	.row 
		.box-img
			img(src="./images/Rectangle 16280.png", alt="")
		.box-img
			img(src="./images/Rectangle 16280.png", alt="")