.post-image.post-layout-2(data-dismiss='modal', data-toggle='modal', data-target='#modalViewPost')
	.row 
		.box-img
			img(src="./images/post-img-1-1.png", alt="")
		.box-img
			img(src="./images/post-img-1-2.png", alt="")