.post-image.post-layout-4-1(data-dismiss='modal', data-toggle='modal', data-target='#modalViewPost')
	.row 
		.box-img
			img(src="./images/Rectangle 16810.png", alt="")
		.box-img
			img(src="./images/Rectangle 16811.png", alt="")
		.box-img
			img(src="./images/Rectangle 16811.png", alt="")
		.box-img
			img(src="./images/Rectangle 16811.png", alt="")
			