.post-image.post-layout-4
	.row 
		.col-12 
			.box-img
				img(src="./images/post-img-2-2.png", alt="")
		.col-12  
			.box-img
				img(src="./images/post-img-2-3.png", alt="")
		.col-12 
			.box-img
				img(src="./images/post-img-2-2.png", alt="")
		.col-12
			.box-img
				img(src="./images/post-img-2-3.png", alt="")