.wrapper-create-schedule
	.top 
		.list 
			a.active(href="#") Your schedule
		.end(data-toggle='modal' data-target='#modalCreateSchedule')
			img(src="./images/create-schedule.png", alt="")
			p Create new schedule
	.content-list
		.row 
			.col-md-6.col-12
				include ../../layouts/schedule-card.pug
			.col-md-6.col-12
				include ../../layouts/schedule-card.pug
include ../../layouts/modal-create-schedule.pug