.post-author{
    position: relative;
    padding: 14px 42px 10px 16px;
    @include mobile{
        padding: 13px 10px 11px 10px;
        div {
            display: flex;
            align-items: center;
        }  
    }
    span{
        vertical-align: middle;
    }
    span.author_name{
        font-weight: bold;
        font-family: NotoSans-Regular;
        font-size: 18px;
        line-height: 25px;
        color: #676262;
        @include mobile{
            font-size: 14px;
            line-height: 15px;
        }
    }
    span.dot-active{
        background: #42EC72;
        width: 12px;
        height: 12px;
        display: inline-block;
        border-radius: 50%;
        margin: 0 8px;
        @include mobile{
            margin: 0 4px;
            height: 8px;
            width: 8px;
        }
    }
    span.author_last-time{
        font-size: 14px;
        line-height: 19px;
        font-family: NotoSans-Regular;
        color: #969EB4;
        @include mobile{
            font-size: 12px;
            line-height: 13px;
        }
    }
}
.post_icon-more{
    position: absolute;
    top: 10px;
    right: 16px;
    cursor: pointer;
    z-index: 1;
    @include mobile{
        right: 6px;
        max-width: 20px;
    }
}