.post-description{
    padding: 12px 16px;
    .post_box-title {
        display: flex;
        align-content: flex-end;
        justify-content: space-between;
        font-family: NotoSans-Regular;
        margin-bottom: 13px;
        @include mobile{
            margin-bottom: 4px;
        }
        .col-left{
            .post-title{
                font-weight: 600;
                font-size: 20px;
                line-height: 27px;
                color: #1ECBC1;
                margin-bottom: 9px;
                @include mobile{
                    font-size: 16px;
                    line-height: 17px;
                }
            }
            .post-address{
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
                display: flex;
                align-items: center;
                color: #969EB4;
                @include mobile{
                    font-size: 12px;
                    line-height: 13px;
                }    
            }
        }
        .col-right {
            display: flex;
            align-items: flex-end;
            @include mobile{
                align-items: center;
                height: 16px;
            }
            a.btn-taxi{
                background: #E8FBFC;
                border-radius: 16px;
                margin-left: 24px;
                display: flex;
                align-items: center;
                padding: 4px 8px;
                font-weight: 500;
                font-size: 14px;
                line-height: 19px;
                color: #2A2C34;
                @include mobile{
                    font-size: 10px;
                    line-height: 10px;
                    margin-left: 11px;
                    width: max-content;
                }
                img{
                    margin-right: 8px;
                    @include mobile{
                        max-width: 15px;
                        margin-right: 4px;
                    }
                }
            }
            @include mobile{
                .btn-map img{
                    max-width: 24px;
                }
            }
        }
    }

    .post_box-desc {
        font-family: NotoSans-Regular;
        padding-bottom: 6px;
        border-bottom: 1px solid #C8CCD9;
        .post_content{
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #7B7B7B;
            margin-bottom: 9px;
            @include mobile{
                font-size: 12px;
                line-height: 13px;
            }
            .text-height{
                -webkit-line-clamp: 2;
                height: 47px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
            
            span.read-more{
                color: #1ECBC1;
                cursor: pointer;
                display: none;
            }
        }
        .post-option {
            display: flex;
            align-items: center;
            justify-content: space-between;
            a{
                font-weight: 500;
                font-family: NotoSans-Regular;
                font-size: 14px;
                line-height: 19px;
                display: flex;
                align-items: center;
                color: #2A2C34;
                @include mobile{
                    font-size: 12px;
                    line-height: 13px;
                }
                img{
                    margin-left: 4px;
                }
            }
            ul{
                display: flex;
                align-items: center;
                li{
                    button{
                        width: 94px;
                        height: 26px;
                        background: #E8FBFC;
                        color: #1ECBC1;
                        border-radius: 12px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 16px;
                        img{
                            margin-right: 2px;
                        }
                    }
                    &.reserve {
                        button{
                            color: #FFFFFF;
                            background: linear-gradient(0deg, #009EFD -46.79%, #2AF598 129.65%);
                        }
                    }
                    &.book-ship button{
                        margin-right: 13px;
                        border: 1px solid #D6F6F2;
                        @include mobile{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .post_box-comment {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        button{
            background: none;
            font-weight: normal;
            font-size: 16px;
            line-height: 21px;
            display: flex;
            align-items: center;
            color: #7B7B7B;
            font-family: Segoe UI;
            @include mobile{
                font-size: 12px;
                line-height: 13px;
            }
            img{
                margin-right: 12px;
                @include mobile{
                    max-width: 20px;
                    margin-right: 8px;
                }
            }
        }
        .box-review{
            img{
                @include mobile{
                    width: 18px;
                }
            }
        }
    }
}
.show-readmore .text-height{
    -webkit-line-clamp: unset !important;
    height: unset !important;
    display: unset !important;
    -webkit-box-orient: unset !important;
    overflow: unset !important;
}