body {
  font-family: SVNGilroy-Regular;
}
// 400
@font-face {
  font-family: SVNGilroy-Regular;
  src: url(./../../fonts/SVNGilroyRegular.otf);
}
// 400
@font-face {
  font-family: NotoSans-Regular;
  src: url(./../../fonts/NotoSans-Regular.ttf);
}
// 300
@font-face {
  font-family: Segoe UI;
  src: url(./../../fonts/Segoe-UI.woff);
}
a {
  &:hover {
    text-decoration: none;
  }
}
@import "./settings/index.scss";
@import "./common/common.scss";
@import "./layouts/index.scss";
@import "./components/login/login.scss";
@import "./components/index.scss";
@import "./components/profile/profile-content.scss";
@import "./components/my-post/my-post.scss";
@import "./components/saved-location/saved-location.scss";
.container {
  width: 100%;
  max-width: 1440px;
}
main {
  display: flex;
  justify-content: space-between;
  padding: 0 !important;
  @include mobile{
    flex-wrap: wrap;
  }
  &.container-fluid{
    max-width: 1440px;
  }
  .left-sidebar {
    width: 320px;
    position: fixed;
    min-height: 100vh;
    top: 54px;
    right: calc(50% + 400px);
    z-index: 1;
    transition: all 0.7s;
    @include mobile{
      background: #fff;
      z-index: 112;
      left: -100%;
      width: 100%;
      min-height: 100vh;
      &.show-menu{
        z-index: 111;
        left: 0;
        width: 100%;
        box-shadow: 8px 1px 6px rgba(200, 204, 217, 0.4);
      }
    }
  }
  .right-filter {
    width: 320px;
    position: fixed;
    min-height: 100vh;
    top: 54px;
    left: calc(50% + 400px);
    z-index: 1;
    transition: all 0.5s;
    @include mobile{
      background: #fff;
      z-index: -111;
      width: 100%;
      min-height: unset;
      position: relative;
      display: none;
      order: 1;
      margin-top: 3px;
      &.show-filter{
        z-index: 111;
        opacity: 1;
        width: 100%;   
        display: block;
      }
    }
  }
  .main-content {
    width: calc(100% - 320px - 320px);
    background: #f9faff;
    margin: 0 auto;
    min-height: 100vh;
    margin-top: 54px;
    @include mobile{
      width: 100%;
    }
  }

}
.main-content {
  @include mobile{
    order: 2;
  }
  .container {
    width: 100%;
    max-width: 594px;
    margin: 0 auto;
    padding: 0 25px;
    @include mobile{
      padding: 0 16px;
    }
  }
}
.main-profile {
  width: calc(100% - 320px - 320px);
  background: #fff;
  margin: 0 auto;
  min-height: 100vh;
  margin-top: 54px;
  @include mobile{
    width: 100%;
  }
}
