.comment 
	.avatar 
		img(src="./images/icon-nav-user.png", alt="")
	.box-comment 
		textarea(placeholder="Write your comment ")
		.option 
			.upload-file 
				.box-img 
					label(for="upload-image")
						img(src="./images/icon-upload-img.png", alt="")
					input(type="file", name="" id="upload-image")
				.box-img
					img(src="./images/icon-upload-gif.png", alt="")
				.box-img
					img(src="./images/icon-emoji-smile.png", alt="")
			.btn-submit 
				button Send
	.box-list-comment 
		ul 
			li 
				.avatar 
					img(src="./images/icon-nav-user.png", alt="")
				.comment-content 
					.text
						.name South Korea
						.des Relationships will always need to be fixed, even when you think nothing is wrong. “She has the ability to present comple agd jsd and the by meeat whit you see. Relationships will always need to be fixed, even when you think nothing is wrong. “She has the ability to present comple agd jsd ạnd the by meeat whit you see... 
						span.read-more-cmt See more
					.img-comment 
						img(src="./images/img-comment.jpg", alt="")
				li 
					.avatar 
						img(src="./images/icon-nav-user.png", alt="")
					.comment-content 
						.text
							.name South Korea
							.des Relationships will always need to be fixed, even when you think nothing is wrong. “She has the ability to present comple agd jsd and the by meeat whit you see. Relationships will always need to be fixed, even when you think nothing is wrong. “She has the ability to present comple agd jsd ạnd the by meeat whit you see... 
							span.read-more-cmt See more
						.img-comment 
							img(src="./images/img-comment.jpg", alt="")
		.show-more See more comments


