.comment 
	.avatar 
		img(src="./images/icon-nav-user.png", alt="")
	.box-comment 
		input(type="text" placeholder="Write your comment ")
		.option 
			.upload-file 
				.box-img 
					label(for="upload-image")
						img(src="./images/icon-upload-img.png", alt="")
					input(type="file", name="" id="upload-image")
				.box-img
					img(src="./images/icon-upload-gif.png", alt="")
				.box-img
					img(src="./images/icon-emoji-smile.png", alt="")
			.btn-submit 
				button Send

