.post-author 
	div 
		span.author_name Pocheonsi_dd2
		span.dot-active
		span.author_last-time 25/07/2021 07:50:32
	img.post_icon-more(src="./images/icon-more.png", alt="",data-toggle='modal' data-target='#modalActionPost')
include ../../layouts/modal-action-post.pug