.post-description
	.post_box-title
		.col-left
			p.post-title 포천아트밸리
			p.post-address South Korea, 경기 포천시 신북면 아트밸리로 234
		.col-right 
			a.btn-map(href="#")
				img(src="./images/icon-map.png", alt="")
			a.btn-taxi(href="#") 
				img(src="./images/icon-taxi.png", alt="")
				span Book taxi
	
	.post_box-desc 
		.post_content
			span.text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			span.read-more See more
		.post-option 
			a(href="#")
				span See original post
				img(src="./images/icon-arrow-down.png", alt="")
			ul 
				li.book-ship
					button
						img(src="./images/icon-order-food.png", alt="")
						span Book Ship
				li.reserve 
					button
						span Reserve
	
	.post_box-comment 
		//- .post_review
		//- 	.box-review 
		//- 		img(src="./images/icon-review-star-active.png", alt="")
		//- 		img(src="./images/icon-review-star-active.png", alt="")
		//- 		img(src="./images/icon-review-star-active.png", alt="")
		//- 		img(src="./images/icon-review-star-active.png", alt="")
		//- 		img(src="./images/icon-review-star.png", alt="")
		.rating-star
		.post_comment 
			button 
				img(src="./images/icon-comment.png", alt="")
				span 102 Comment
		.post_share
			button 
				img(src="./images/icon-share.png", alt="")
				span Share
	include ./comment.pug