.post-description
	.post_box-title
		.col-left
			p.post-title 포천아트밸리
			p.post-address South Korea, 경기 포천시 신북면 아트밸리로 234
		.col-right 
			a.btn-map(href="#")
				img(src="./images/icon-map.png", alt="")
			a.btn-taxi(href="#") 
				img(src="./images/icon-taxi.png", alt="")
				span Book taxi
	
	.post_box-desc 
		.post_content
			span Relationships will always need to be fixed, even when you think nothing is wrong. “She has the ability to present comple... 
			span.read-more See more
		.post-option 
			a(href="#")
				span See original post
				img(src="./images/icon-arrow-down.png", alt="")
			ul 
				li.book-ship
					button
						img(src="./images/icon-order-food.png", alt="")
						span Book Ship
				li.reserve 
					button
						span Reserve
	
	.post_box-comment 
		//- .post_review
		//- 	.box-review 
		//- 		img(src="./images/icon-review-star-active.png", alt="")
		//- 		img(src="./images/icon-review-star-active.png", alt="")
		//- 		img(src="./images/icon-review-star-active.png", alt="")
		//- 		img(src="./images/icon-review-star-active.png", alt="")
		//- 		img(src="./images/icon-review-star.png", alt="")
		.rating-star
		.post_comment 
			button 
				img(src="./images/icon-comment.png", alt="")
				span 102 Comment
		.post_share
			button 
				img(src="./images/icon-share.png", alt="")
				span Share
	include ./comment.pug