#modalViewPost.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
	.modal-dialog.modal-lg.modal-dialog-centered(role='document')
		.modal-content
			.view-post
				.icon-back.show-in-mb 
					img(type='button' data-dismiss='modal' aria-label='Close')(src="./images/icon-menu-left-alt.png", alt="")
				.view-post_box-img
					.grid-slider
						.slider.slider-for
							.box-img
								img(src="./images/Rectangle 1691a.png", alt="")
							.box-img
								img(src="./images/Rectangle 1681.png", alt="")
							.box-img
								img(src="./images/Rectangle 1683.png", alt="")
							.box-img
								img(src="./images/post-img-2-3.png", alt="")
							.box-img
								img(src="./images/post-img.png", alt="")
						.slider.slider-nav
							.box-img
								img(src="./images/Rectangle 1691a.png", alt="")
							.box-img
								img(src="./images/Rectangle 1681.png", alt="")
							.box-img
								img(src="./images/Rectangle 1683.png", alt="")
							.box-img
								img(src="./images/post-img-2-3.png", alt="")
							.box-img
								img(src="./images/post-img.png", alt="")
				.view-post_box-txt
					include ./post-author.pug
					include ./post-description.pug
				span.close-post(type='button' data-dismiss='modal' aria-label='Close')
					img(src="./images/close-view-post.png", alt="")
				.view-post_box-img-mobile.show-in-mb
					.box-img
						img(src="./images/Rectangle 1691a.png", alt="")
					.box-img
						mg(src="./images/Rectangle 1681.png", alt="")
					.box-img
						img(src="./images/Rectangle 1683.png", alt="")
					.box-img
						img(src="./images/post-img-2-3.png", alt="")
					.box-img
						mg(src="./images/post-img.png", alt="")