.wrapper-saved-location
	include ../../layouts/heading-profile.pug
	.content-list
		.row 
			.col-4
				include ../../layouts/place-card.pug
			.col-4
				include ../../layouts/place-card.pug
			.col-4
				include ../../layouts/place-card.pug
		.row 
			.col-4
				include ../../layouts/place-card.pug
			.col-4
				include ../../layouts/place-card.pug
			.col-4
				include ../../layouts/place-card.pug
		.row 
			.col-4
				include ../../layouts/place-card.pug
			.col-4
				include ../../layouts/place-card.pug
			.col-4
				include ../../layouts/place-card.pug