extends master.pug
block css
	link(rel="stylesheet", href="css/main.css", attr)
block content
	.container
		include ./components/Carousel-tag/carousel-tag.pug
		include ./components/Post/box-style-3.pug
		include ./components/Post/box-style-2.pug
		include ./components/Post/box-style-1.pug
		include ./components/Post/box-style-2-1.pug
		