extends master.pug
block css
	link(rel="stylesheet", href="css/main.css", attr)
block content
	.container
		include ./components/Carousel-tag/carousel-tag.pug
		include ./components/Post/box-style-4-2.pug
		include ./components/Post/box-style-5.pug
		include ./components/Post/box-style-5-1.pug
		include ./components/Post/box-style-6.pug