header
  .container-fluid
    .header 
      .col-left 
        .logo
          a(href="/")
            img(src="./images/logo.png", alt="logo") 
        .box-search 
          input(type="text", name="", placeholder="Search")
          img(src="./images/icon-search.png", alt="")
      .col-center 
        ul.header__menu
            li.active
              a(href="index.html") 
                img(src="./images/icon-home.png", alt="")
                img.active(src="./images/icon-home-active.png", alt="")
            li
              a(href="single-travel.html") 
                img(src="./images/icon-location.png", alt="")
                img.active(src="./images/icon-location-active.png", alt="")
            li
              a(href="single-food.html") 
                img(src="./images/icon-food.png", alt="")
                img.active(src="./images/icon-food-active.png", alt="")
            li
              a(href="profile.html") 
                img(src="./images/icon-profile.png", alt="")
                img.active(src="./images/icon-profile-active.png", alt="")
      .col-right 
        ul.header__option 
          li
            a.create-post(href="#", data-toggle='modal' data-target='#createPostModal')
              img(src="./images/icon-edit.png", alt="")
              span post
          li 
            a(href="#")
              img(src="./images/icon-notifications.png", alt="") 
          li
            a.box-language(href="#")
              img(src="./images/icon-language.png", alt="") 
              span EN
include ./modal-create-post.pug

