ul.left-sidebar
	li.active
		a(href="profile.html") 
			img(src="./images/icon-nav-user.png", alt="")
			span Your name
	li 
		a(href="my-post.html") 
			img(src="./images/icon-nav-post.png", alt="")
			span My post
	li 
		a(href="saved-location.html") 
			img(src="./images/icon-nav-address.png", alt="")
			span Saved location
	li 
		a(href="create-schedule.html") 
			img(src="./images/icon-nav-create.png", alt="")
			span Create schedule
	li 
		a(href="shipping.html") 
			img(src="./images/icon-nav-ship.png", alt="")
			span Shipping
	li 
		a(href="blocked-place.html") 
			img(src="./images/icon-nav-booked.png", alt="")
			span Booked place
	li 
		a(href="coupon-management.html") 
			img(src="./images/icon-nav-discount.png", alt="")
			span Coupon management
	li 
		a(href="review-place.html") 
			img(src="./images/icon-nav-review.png", alt="")
			span Review the place
	li 
		a(href="login.html") 
			img(src="./images/icon-nav-logout.png", alt="")
			span Sign out
	.language-mb
		select.language-select
				option EN
				option VN