#modalNotMember.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
	.modal-dialog.modal-dialog-centered(role='document')
		.modal-header
			button.close(type='button' data-dismiss='modal' aria-label='Close')
			span(aria-hidden='true')
				img(src="./images/icon-close.svg", alt="")
		.modal-content
			.modal-body
				img(src="./images/notmember.svg", alt="")
				p.title Not a Member Yet?
				p.des Join us! Iviolo.com members can access savungs of up to 50% and earn Iviolo Coins while booking.
				.bottom 
					button.signin Sign In
					button.register Register