#modalSchedule.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
	.modal-dialog.modal-dialog-centered(role='document')
		.modal-content
			.modal-header
				h5.modal-title Create schedule
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true')
						img(src="./images/close-grey.svg", alt="")
			.modal-body
				.date 
					label Date
					input(type="date") 
				.time-range 
					.time 
						label Time 
						input(type="time")
					.time 
						label Time 
						input(type="time")
				.info
					img(src="./images/schedule-img.jpg", alt="")
					.right 
						.title Hotel Casa Camper
						.des Carer d’Elisabet, 11, 09001 Barcel....
				button Create