#modalActionPost.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
	.modal-dialog.modal-dialog-centered(role='document')
		.modal-content
			.modal-body
				ul 
					li Lưu bài viết
					li Tạo lịch trình
					li Đăng ký dịch bài viết
					li Đánh dấu đã đến đây
					li(data-dismiss='modal', style="border-bottom: none;") Thoát