.form-search
	.label-search
		img(src="./images/Icon-feather-search.png")
		<p>Tìm kiếm: <span>Ta</span></p>
	.location
		.label-location
			span Locations
		<ul class="list-search">
			<li><span># Thai</span></li>
			<li># <span>Ta</span>iwan</li>
		</ul>
	.restaurants
		.label-restaurants
			span Restaurants
		<ul class="list-search">
			<li>@ <span>Ta</span>koda</li>
			<li>@Ma<span>ta</span>nki</li>
		</ul>