#modalActionPost.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
	.modal-dialog.modal-dialog-centered(role='document')
		.modal-content
			.modal-body
				ul 
					li(data-dismiss='modal', data-toggle='modal', data-target='#modalNotMember') Lưu bài viết
					li(data-dismiss='modal', data-toggle='modal', data-target='#modalSchedule') Tạo lịch trình
					li(data-dismiss='modal', data-toggle='modal', data-target='#modalTranslate') Đăng ký dịch bài viết
					li(data-dismiss='modal') Đánh dấu đã đến đây
					li(data-dismiss='modal', style="border-bottom: none;") Thoát

include ../layouts/modal-not-member.pug
include ../layouts/modal-schedule.pug
include ../layouts/modal-translate.pug