.right-filter 
	p.title-filter Filter setting
	.filter-price 
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
				<div id="slider-range"></div>
				</div>
			</div>
			<div class="row slider-labels">
				<div class="col-xs-6 caption">
				<span id="slider-range-value1"></span>
				<span id="slider-range-value2"></span>
				</div>
			</div>
			
		</div>
			//- p.title Price range
			//- .progres-sprice
			//- 	.progres-sprice_width 
			//- 	.progres-sprice_before
			//- 		.dot
			//- 		span $50
			//- 	.progres-sprice_after
			//- 		.dot
			//- 		span $1200

	.filter-review 
		p.title Rating
		<div class="my-rating-filter" data-rating="2.5"></div>
	
	.filter-checkbox 
		p.title Establishment Type
		ul.list-checkbox 
			li 
				input(type="checkbox", name="" id="Restaurants")
				label(for="Restaurants") Restaurants
			li 
				input(type="checkbox", name="" id="Quick Bites")
				label(for="Quick Bites") Quick Bites
			li 
				input(type="checkbox", name="" id="Dessert")
				label(for="Dessert") Dessert
			li 
				input(type="checkbox", name="" id="Coffee & Tea")
				label(for="Coffee & Tea") Coffee & Tea
			li 
				input(type="checkbox", name="" id="Bars & Pubs")
				label(for="Bars & Pubs") Bars & Pubs
		.show-more 
			span Show more
			img(src="./images/icon-arrow-down.png", alt="")