.card-schedule
	.head
		.date
			.right Date: 
			.left 12/22/2021
		.action 
			img(src="./images/feather_edit.png", alt="")
			img(src="./images/fluent_delete-28-filled.png", alt="")
	.time 
		.right Time checkin:
		.left 08:32
		span ~
		.right Time checkout:
		.left 18:15
	.des 
		.heading Destination
		.cont
			img(src="./images/packet-sale.png", alt="")
			.content 
				.title Hotel Casa Camper
				.sub Carer d’Elisabet, 11, 09001 Barcel....